@charset "utf-8";

/* 
  ITSE 1301 Web Design Tools
  Prof. Manuel Duran
  Final Project

  Layout Page
  Author: Jason Swann

  Filename:   SwannJason_layout.css 
*/

/* Page Styles */
html {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
}

/* Section Styles */
header, nav, article {
  border: 1px solid black;
}

nav, img, table {
  margin: 25px;
}

article {
  margin-top: 25px;
  height: 20rem;
}

/* Content Styles */
p {
  padding: 10px;
}

img, table {
  border: 1px solid black;
}

#article1 img {
  float: right;
}

#article2 img {
  float: left;
}

#article2 table {
  float: right;
}